html ,body, #root,.App {
    width: 100% !important;
    /*height: 100% !important;*/
}

body {

    display: flex;
    align-content: center;
    justify-content: center;
}

.App {
    width: 100%;
    height: 100%;
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    min-height: 50px;
    height: 5%;
    position: sticky;
}

.App-link {
    color: #61dafb;
}

.show {
    display: flex;
}

.App-header {
    width: 100%;

}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
