@media screen and (min-width: 800px) and (max-width: 1159px) {
    #tbody:before {height:4.1rem; content:"\200C"; display:block;}

}

@media screen and (min-width: 1160px){
    #tbody:before {height:2.6rem; content:"\200C"; display:block;}
}

thead {
    height: 100px;
}

#table {
    width: 100%;
    height: 100%;
    text-align: center;
    /*padding-top: 100px !important;*/
}
#tableWrapper {
    /*margin-top: 50px;*/
   padding-top: 50px;
}

.table td, .table th {
    padding:.55rem;
}
thead {
    background: white;
    z-index: 1;
    position: fixed;
    height: 2.6em;
    /*height: 1.3em;*/
    /*margin-top: 50px;*/
}
#thead {
    height: 1.3em;
}
/*#tbody:before {height:2.6rem; content:"\200C"; display:block;}*/
#tbody {
/*    background: url("https://img.gazeta.ru/files3/255/12253255/upload-Depositphotos_9161872_l-2015-pic905-895x505-74999.jpg") no-repeat center center;*/
/*    background-attachment: fixed;*/
/*    background-size: 100%;*/
/*   display: none;*/
/*   padding-top: 200px;*/
}




[data-id='index'] {
    /*display: none;*/
    width: 1%;
}
[data-id='entryNumb'] {
    /*width: 130px;*/
    width: 10%;
}
[data-id='registrNumber'] {
    width: 10%;
}

[data-id='adressee'] {
    width: 9%;
}
[data-id='description'] {
    width: 40%;
    /*max-width: 300px*/
}
[data-id='executor'] {
    width: 10%;
}
[data-id='outputNumber'] {
    width: 10%;
}
[data-id='replyOn'] {
    width: 8%;
}