.btn-group {
    margin-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}
#Menu {
    font-size: 20px;
    width: 5%;
    height: 80%;
    line-height: 10px;
}
#menuList {
    z-index: 6;
    display: flex;
    flex-direction: column;
    text-align: right;
}
