.modalDialog {
    position: fixed;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    /*display: none;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0,0,0,0.7);
    /*pointer-events: none;*/
    pointer-events: auto;
}
/*.modalDialog:nth-child(2),.modalDialog:nth-child(3),.modalDialog:nth-child(5),.modalDialog:nth-child(6){*/
label{
    padding-right: 20px;
}
textarea{
    max-height: 400px;
}
.incomeForm {
    width: 60%;
    display: flex;
    flex-flow: wrap;
    text-align: left;
    /*align-items: ;*/
    justify-content: space-between;
    flex-direction: column;
}
.closeFormBtn {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid red;
    line-height: 10px;
    text-align: center;
}
.label {
}
.closeBtn {
    position: absolute;
    right: 15%;
    height: 40px;
    width: 40px;
}
#submBtnWrapper{
    display: flex;
    width: 100%;
    /*align-items: center;*/
    justify-content: center;
}
#formSubmitBtn {margin-top: 30px;
    width: 30%;
    font-size: 23px;
    /*font-weight: bold;*/
    letter-spacing: 1px;
}
/*.closeBtn:hover {*/
/*    color: red;*/
/*}*/
/*---------------------------*CLOSE BTN*---------------------------*/
