html body.swal2-height-auto{
    height: 100% !important;
    width: 100% !important;
}
.swal2-styled {
    display: none;
}
#searchForm {
    width: 50%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    height: 100%;
}

#searchBtn {
    text-align: center;
    font-size: 20px;
    line-height: 10px;
}
#searchBtn, #searchSelect, #searchField {
    height: 80%;
}
.searchInput {
    outline: none;
    width: 230px;
    transition: width 1s cubic-bezier(0, 0, 1, 1) 1ms;
}

.ActiveSearch {
}
#searchSelect {
    width: auto;
    outline: none;
    border: none;
}
.searchInput {
    width: 80%;
}
.searchInput,#searchSelect {
    border: 1px solid white;
    border-radius: 4px;
    margin-left: 5px;
    font-size: 20px;
}


