#errorAlert{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 40%;
    min-height: 300px;
    padding-right: 1%;
    padding-left: 1%;
    background: white;
    border-radius: 5px;
    border: 1px white;
}
.errorAlertBtn {
    margin-bottom: 30px;
    width: 30%;
}