#loaderRoot {
    position: fixed;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    /*display: none;*/
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 30;
    background: rgba(0,0,0,0.7);
    /*pointer-events: none;*/
    pointer-events: auto;
}
#loader {
    width: 60px;
    height: 60px;

}