#successAlert {
    /*display: none;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 40%;
    min-height: 200px;
    padding-right: 1%;
    padding-left: 1%;
    background: white;
    border-radius: 5px;
    border: 1px white;
}

.successAlertBtn {
    margin-top: 30px;
    width: 30%;
}

