/*[data-id='index'] {*/
/*    !*display: none;*!*/
/*    !*width: 1%;*!*/
/*}*/
/*[data-id='entryNumb'] {*/
/*    !*width: 130px;*!*/
/*    !*width: 10%;*!*/
/*}*/
/*[data-id='registrNumber'] {*/
/*    !*width: 10%;*!*/
/*}*/

/*[data-id='adressee'] {*/
/*    !*width: 10%;*!*/
/*}*/
[data-id='description'] {
    /*width: 40%;*/
    max-width: 300px
}
/*[data-id='executor'] {*/
/*    !*width: 10%;*!*/
/*}*/
/*[data-id='outputNumber'] {*/
/*    !*width: 10%;*!*/
/*}*/
/*[data-id='reply'] {*/
/*    !*width: 10%;*!*/
/*}*/
table td {
    padding: 5px; ;
}
table {

}